
<%= render partial: 'posts/post_details', locals: { post: current_post } %>

<%= form_tag post_comments_path do %>
    
    <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= hidden_field_tag :'comment[user_id]', current_user.id %> 
    <%= hidden_field_tag :'comment[post_id]', current_post.id %> 

    <br>
    <div class="field<%= ' field_with_errors' if @comment.errors[:content].any? %>">
        <label> Comment Content: </label>
        <%= text_area_tag :'comment[content]' %>
        <br>
    </div>
    

    <%= submit_tag "Add Comment" %>
<% end %>

