

<br>
<br>
<br>
<%= @group.name %>
<%= @group.bio %>

<%= render "devise/shared/error_messages", resource: @group %>

Moderator: <%= link_to @group.mod.username, user_path(@group.mod) %>
<%= link_to "Confirmed Members", group_users_path(@group), method: :get %>

<% if confirmed_member(@group) %>

    <%= button_to 'Invite New Members', new_group_subscription_path(@group), method: :get %>
    <%= button_to 'Leave Group', subscription_path(current_sub(@group, current_user)), method: :delete %>

    <% if !current_sub(@group, current_user).status.blank? %>

        You're Feeling: 
            
            <div class="button" style="background-color:<%= current_sub(@group, current_user).status_color %>;">
                <%= current_sub(@group, current_user).status %>
            </div>

    <% end %>

    <%= button_to 'Change Your Status', edit_group_subscription_path(@group, current_sub(@group, current_user)), method: :get %>

    <% if current_user == @group.mod %>
        <%= button_to "Edit Group", edit_group_path(@group), method: :get %>
    <% end %>

<% end %>



<%= link_to "Create Post", new_group_post_path(@group) %>
<br>
<br>
<div>
  <h3>Filter posts:</h3>
  <%= form_tag group_path(@group), method: :get do %>
    <%= select_tag "filter", options_for_select(["Most Likes", "Most Comments", "Recent Posts", "Old Posts"]), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<% if @posts && !@posts.empty? %>
    <%= render partial: 'posts/post_details', collection: @posts, as: :post %>
<% end %>
<br>
