<p>
    <%= user_profile.display_name %>
    <%= link_to user_profile.username, user_path(user_profile) %>
    <br>
    <%= user_profile.bio %>
    <br>
    <%= user_profile.followers.count %> Followers
    <%= render 'follows/follow_button', user_profile: user_profile %>
</p>
