<div class="container">
    <div class="user_edit_div">

        <h2> Edit Profile </h2>

        <div class="user_edit_form">

            <%= form_for current_user do |f| %>

                <%= render "devise/shared/error_messages", resource: current_user %>

                <%= f.label :display_name %>
                <%= f.text_field :display_name %>

                <br>
                <br>

                <%= f.label :bio %>
                <%= f.text_area :bio %>

                <br>
                <br>

                <%= f.submit "Update Profile", class: "edit_submit" %>
            <% end %>

        </div>
    </div>
</div>