<h1>Profile Page</h1>
<%= current_user.display_name %>
<%= current_user.username %>
<%= current_user.bio %>
<br>

<%= link_to "Edit Profile", edit_user_path %>
<br>

<%= link_to "Create New Group", new_group_path %>
<br>

<h1> Joined Groups </h1>

<% all_user_groups(true).each do |group| %>
    <%= group.name %><br>
    <%= group.id %><br>
<% end %>
<br>

<h1> Pending Invites </h1>

<% all_user_groups.each do |group| %>
    <%= group.name %><br>
    <%= group.id %><br>
<% end %>


