<% if current_user.followers.empty? %>

    <p>
        No Eligible Followers To Invite!
    </p>

<% else %>


    <%= form_tag subscriptions_path do %>
        <%= hidden_field_tag :'subscription[group_id]', current_group.id %>
        <%= hidden_field_tag :'subscription[moderator]', false %>
        <%= hidden_field_tag :'subscription[confirmed]', false %>

        <% current_user.followers.each do |fllwr| %>
            <% unless subscription_exists(fllwr) %>
                <label> <%= fllwr.username %> </label>
                <%= radio_button_tag :'subscription[user_id]', fllwr.id %>
                <br>
            <% end %>
        <% end %>

        <%= submit_tag "Invite Follower" %>
    <% end %>

<% end %>