<%= render partial: 'groups/header', locals: { group: current_group } %>

<%= form_tag subscriptions_path do %>

    <%= render "devise/shared/error_messages", resource: @sub %>

    <% if eligible_members? %>

        <b> Invite People You Follow: </b>

        <br>
        <br>

        <%= render partial: 'select_form', collection: current_user.followings, as: :fllwr %>


    <% else %>

        <p style='text-align:center;color:red;'>
            No Eligible Followers To Invite! Here Are Some Users:
        </p>

        <br>

        <%= render partial: 'select_form', collection: @users, as: :fllwr %>

    <% end %>

    <br>

    <%= submit_tag "Invite User" %>

<% end %>





    